
/* Assigning Colors */
:root
{
    --color-purple : #46244c;
    --color-black : #000000;
    
    --color-light1 :#f4f4f4;
    --color-light : #D3CEDF;
    --color-white  : #FFFFFF;
    --color-black : #1e1e1e;
    --color-light-purple :#c8b7d7;
    --transition : all 500ms ease;
    --color-light2 : #F9F9F9;
   
}
/* Setting of Screen */
*
{
    margin: 0;
    padding: 0;
    outline: 0;
   
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


html
{
    font-size: 15px;
    scroll-behavior: smooth;
}

body
{
    background: var(--color-white);
    max-width: 100vw;
    font-family: 'Playfair Display', serif;
}

/* Re-use */

h1,h2,h3,h4,h5
{
    line-height: 1.2;
    color: var(--color-black);
}

h1{ font-size: 3.8rem;}
h2 {font-size: 2.6rem;}
h3{ font-size: 1.3rem;}
h4{ font-size: 1.2rem;}
h5{font-size: 0.8rem;}

p{line-height: 1.8;}


.container
{
    width: 85%;
    margin: 0 auto;
}

.btn-primary
{
   background: var(--color-purple);
   color: var(--color-white);
}

.btn-ordinary
{
    background: var(--color-black);  
    color: var(--color-white); 
}

section .btn
{
   
    width: 8rem;
    padding: 1rem;
    position: relative;
    top: 3rem;
    margin-right: 1.5rem;
    font-size: larger;
    font-family: 'Playfair Display', serif;
    border-radius: 1rem;
    
}
/* ------------------------------------------------------------------------------------------- */

/* ========================================= Navbar ========================================== */

nav
{
    width: 100%;
    height: 4rem;
    background: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid var(--color-light1);
    position: fixed;

}

nav .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav .container h2
{
    font-size: 2rem;
    color: var(--color-purple);
}

nav .container ul
{
    gap: 2rem;
    display: flex;
    height: 100%;
}

nav button
{
    display: none;
}

nav .container ul li a
{
    
    height: 100%;
   
    display: flex;
    justify-content: center;
   
    align-items: center;
    position: relative;
    color: var(--color-black);
    transition: var(transition);
}

nav .container ul li a h3
{
    font-weight: lighter;
    font-size: 1.3rem;
    color: var(--color-black);
}

nav .container ul li a :hover
{
    color: var(--color-purple);
    padding-top: 1rem;
    transition: var(--transition);
    font-weight: bolder;
}
/* ------------------------------------------------------------------------------------------------------------------------------------ */

/* ==================================================== Landing Section ============================================================== */
section.landing
{
    display: grid;
    place-items: center;
    position: relative;
    top: 1rem;
    padding-top: 3rem;
    padding-bottom: 7rem;
}

section.landing .container
{
    display: grid;
    grid-template-columns: 5rem auto 26rem;
    gap: 2rem;

}

section.landing .container .social-media
{
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
    
    gap: 1rem;
}

section.landing .container .social-media a
{
    font-size: 1.3rem;
    color: var(--color-black);
    background: var(--color-light1);
    padding: 0.3rem;

    /* to make circlular background */
    border-radius: 50%;
    height: 2.3rem;
    width: 2.3rem;
    /* --------------------------- */

    display: flex;
    justify-content: center;
    align-items: center;
}

section.landing .container .social-media a:hover
{
    color: var(--color-white);
    background-color: var(--color-purple);
}

section.landing .container .info
{
 
    margin-top: 7rem;
}

section.landing .container .info h1
{
    text-align: left;
    margin: 0;
}

section.landing .container .info h3
{
    margin: 1.3rem .1rem;
    font-size: 1.7rem;
    font-weight: 400;
}
section.landing .info p
{
    width: 35rem;
}

section.landing .container .info span
{
    color: var(--color-purple);
    font-weight: 600;
}

.btn1 , .btn2
{
    margin-top:2rem ;
}

section.landing .info .btn1:hover
{
background-color: var(--color-light1);
color: var(--color-black);
transition: var(--transition);
}

section.landing .info .btn2:hover
{
background-color: var(--color-light1);
color: var(--color-primary);
transition: var(--transition);
}

section.landing .container .profile 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.landing .container .profile img
{
    margin-top: 2.5rem;
    border-radius: 50%;
    width:30rem;
    height: 30rem;
    position: relative;
    
   
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

/* ======================================================= About Section ============================================================== */
section.about-me
    {
        display: grid;
        place-items: center;
        padding-bottom: 4rem;
        background: var(--color-light1);   
    }

section.about-me h2
    {
        width: auto;
        text-align: center;
        padding-top:5rem ;
        padding-bottom: 3rem;
        color: var(--color-purple);
        font-weight: 500;
        font-size: 3rem;
    }

section.about-me .container
    {
        display: grid;
        grid-template-columns: 25rem auto;
       
    }

/* Image Section */
section.about-me .container .image img
    {
        margin-top: 1rem;
        border-radius: 2%;
        width:20rem;
        height: 26rem;
    }

 /* Content of about section */
section.about-me .container .aboutme 
    {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
section.about-me .container .read-more-content
    {
        display: none;
    }

section.about-me .container .aboutme .read-more
    {
        display: block;
        margin: .5rem 0 1rem;
        color:var(--color-purple) ;
        cursor: pointer;
        font-weight: 600;
    }

section.about-me .container .aboutme .read-more:hover
    {
        text-decoration: underline;
    }

/* toggle readmoreconten using js  */
section.about-me .container .read-more-content.show-content
    {
        display: block;
    }
/*---------------------------------- */

 /* Experience pojects and worke section */
section.about-me .container .aboutme .epw
    {
       
        margin:2rem 1rem 0;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

section.about-me .container .aboutme .epw h4
    {
        font-size: 1.5rem;
    }

 /* Download Button */
section.about-me .container .aboutme .btn3
    {
       display: block;
       margin: auto;
       width: 11rem;
       cursor: pointer;
    }

section.about-me .container .aboutme .btn3:hover
    {
    background-color: var(--color-light1);
    color: var(--color-primary);
    transition: var(--transition);
    }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ===================================================== Qualifiction Section ============================================================== */
    section.qualification-me
        {
            display: grid;
            place-items: center;
            padding-top: 2rem;
           padding-bottom: 4rem;
          
        }
   

    section.qualification-me h2
        {
            
            width: auto;
            text-align: center;
            padding-top:4rem ;
            color: var(--color-purple);
            font-weight: 500;
            font-size: 3rem;
            
        }

    section.qualification-me .qualification-tabs
        {
            display: flex;
            justify-content: space-evenly;
          
            margin-top: 2rem;
            margin-bottom: 1rem;
            padding-bottom: 2rem;
        }

    section.qualification-me .qualification-tabs .qualification-button
        {
            font-size: 1.5rem;
            font-weight: 300;
            cursor: pointer;
        }

    section.qualification-me .qualification-tabs .qualification-button:hover
        {
            color: var(--color-purple);
            font-weight: 800;
        }

    section.qualification-me .qualification-tabs .qualification-button i
        {
            font-size: 1.7rem;
            margin-right: .4rem;
        }

    section.qualification-me .qualification-data
        {
            display: grid;
            grid-template-columns: 1fr max-content 1fr;
            column-gap: 2.2rem;
            
            position: relative;
            left: 2rem;
        }

    section.qualification-me .qualification-title
        {
            font-size: 1.2rem;
            font-weight: 600;
        }

    section.qualification-me .qualification-subtitle
        {
            display: inline-block;
            font-size: .9rem;
            margin-bottom: .2rem;
        }

    section.qualification-me .qualification-calender
        {
            font-size: .8rem;
        }

    section.qualification-me .qualification-calender
        {
            font-size: .8rem;
        }

    section.qualification-me .qualification-rounder
        {
            display: inline-block;
            width: 12px;
            height: 12px;
            background-color: var(--color-purple);
            border-radius: 50%;
        }

    section.qualification-me .qualification-line
        {
            display:block;
            width: 1px;
            height: 100%;
            background-color: var(--color-purple);
            transform: translate(6px, -7px);
            
        }

    .qualification-container [data-content]
        {
            display: none;
        }

    .qualification-active[data-content]
        {
            display: block;
        }



/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*  ======================================================= Testimony section  ====================================================================================================== */
    section.test
        {
        background-color: var(--color-light1);
        padding: 4rem 0;
        
        }

    section.test h2
        {
            padding-bottom: 2rem;
            padding-top: 1rem;
            width: auto;
            text-align: center;
        
            color: var(--color-purple);
            font-weight: 500;
            font-size: 3rem;
            
        }

    section.test .container-test
        {
            display: grid;
            grid-template-columns:repeat(3 , 1fr) ;
            gap: 2rem;
        
        }

    section.test .container-test .services
        {
        background-color: var(--color-white);
        border-radius: 6%;
        padding: 3rem 2rem;
        box-shadow: 2px 4px 1rem rgb(139, 137, 137);
        z-index: 1;
        text-align: center;
        transition: var(--transition);
        }

    section.test .container-test .services:hover
        {
            box-shadow: 2px 4px 1rem var(--color-purple);
        }

    h3
        {
        margin: 1rem 0;
        }

    section.test .container-test i
        {
            font-size: 3rem;
        }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*  ============================================================ Contact ====================================================================================================== */
    section.contact-me 
        {
            background-color: var(--color-purple);
            color: var(--color-white);
            padding: 2rem 0;
        }

    section.contact-me .container
        {
            
        text-align: center;
        } 

    section.contact-me .container .social-media a
        {
            font-size: 1.3rem;
            color: var(--color-white);
        
            padding: 0.5rem;
        }

    section.contact-me .container .copy
        {
            padding-top: 1rem;
        }
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* =================================================== To make responsive website =======================================================*/

/* Media Queries for navbar */
@media screen and (max-width:600px)
{
    h1{ font-size: 2.2rem;}
    h2{font-size: 1.6rem;}
    h3{font-size: 1.2rem;}
    h4{font-size: 1rem;}
    h5{font-size: 0.68rem;}

    nav .container
    {
        width: 100%; 
    }
    
    nav h2
    {
        margin-left: 1rem;
    }

    nav ul 
    {
        
        position: fixed;
        bottom: 0rem;
       
        flex-direction: column;
        z-index: 3;
        width: 15rem;
        height: 100vh;
        background: var(--color-light1);
        box-shadow: .3rem 0 2rem var(--color-light-purple);
        display: none;
        
    }

    nav ul li
    {
        
        height: 4.9rem;
        width: 100%;
    } 
    nav .container ul li a
    {
        width: 100%;
        padding-left: 2rem ; 
        justify-content: start;
    }   

    nav .container ul li h3
    {
        font-size: 1.47rem;
        font-weight: 400;
    }

    nav .container ul li :hover
    {
        font-size: 1.8rem;
        font-weight: 800;
       color: var(--color-purple);
        transition: ease-in 0.6s;
        padding-left: 3rem;
        
    }

    nav button
    {
        display: inline-block;
        font-size: 2rem;
        background: transparent;
        color: var(--color-black);
        margin: right 1rem; 
        cursor: pointer;
        position: relative;
        right: 3rem;
        border-style: none;
    }

     nav  button#close-btn
     {
        display: none;
     }
    /* -------------------------------------------------- */
     /* Media Queries for Landing Section */

     section.landing
     {
        width: 100vw;
     }

     section.landing .container
    {
        grid-template-columns: 1fr;
        grid-template-rows: 35% 50%;
        text-align: center;
        row-gap: 4rem;
    }

    section.landing .container .social-media
    {
        display: none;
        margin: auto;
    }

    section.landing .container .info
    {
        width: 90%;
        margin: 0 auto;
    } 


    section.landing .container .info h1
    {
        text-align: center;
    }

    section.landing .container .info p
    {
        width: 90%;
        margin: 0 auto;
       
    }
    section.landing .container .profile
    {
        grid-row: 1;
        width: 94%;
        margin: 0 auto;
    }

    section.landing .container .profile img
    {
        width: 15rem;
        height: 15rem;
    }

    /* About */
    section.about-me .container
        {
            grid-template-columns: 1fr;
            text-align: center;
        }

    section.test .container 
    {
            grid-template-columns: 1fr;
           
    }



}



















/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */